<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>The Evenbrides App - User</title>
    </head>

    <body>
    
        <div class="container" style= "margin-bottom: 45px">
            <div class="row">
                <div class="col-sm-12 ">
                    <h2 class="card-title "> Profil <%=@user.first_name%></h2>
                    
                    <p>Prénom : <%=@user.first_name %></p>
                    <p>Nom : <%=@user.last_name %></p>
                    <p>Description : <%= @user.description %></p>
                    <p>Email : <%= @user.email %></p>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="container" style= "margin-bottom: 25px">
            <div class="row">
                <div class="col-sm-12">
                    <h4>Je suis inscrit aux Events suivants:</h4>
                </div>
                <div class="col-sm-12 ">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Evénement</th>
                            <th scope="col">Page de l'événément</th>
                        </tr>
                        </thead>
                        <tbody>
                            <% @user_events.each do |event| %>
                        <tr>
                            <td><%=event.title %></td>
                            <td><%= link_to 'Détail', event_path(event.id), class: 'btn btn-secondary bg-info' %></td>
                        </tr>
                        <tr>
                        <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-sm-12 ">
                    <h4>Mes événements en tant qu'organisateur:</h4>
                </div>
                <div class="col-sm-12 ">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Evénement</th>
                            <th scope="col">Page de l'événément</th>
                        </tr>
                        </thead>
                        <tbody>
                            <% @user_events.each do |event| %>
                        <tr>
                            <td><%=event.title %></td>
                            <td><%= link_to "Voir plus", event_path(event.id) %></td>
                        </tr>
                        <tr>
                        <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
